@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: #d2e2e8;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  /* background: linear-gradient(to bottom, #dcfbff, #7dcdff); */
  background-color: white;
}

.brand-header {
  background: linear-gradient(120deg, #a6c0fe, #81d4fa);
  padding: 40px 20px;
  border-bottom: 4px solid #1976D2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centre;
  text-align: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 40px;
  margin: 0;
}

.brand-name {
  font-size: 2rem;
  color: #ffffff;
  margin: 0;
  font-weight: bold;
}

.tagline {
  font-style: italic;
  color: #333;
  font-size: 1rem;
  margin: 10px 0 0 0;
  display: block;
}

.container {
  max-width: 800px;
  width: 90%;
  margin: 160px auto 40px;
  padding: 40px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(129, 212, 250, 0.25);
  text-align: left;
}


h1, h2 {
  color: #1976D2;
  margin-bottom: 15px;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  color: #333;
}

.made, footer {
  text-align: center;
  margin-top: 40px;
  color: #6b7280;
}
